name: SQL Auto-Fix

on:
  workflow_dispatch:  # Manual trigger
  push:
    paths:
      - '**/*.sql'
  pull_request:
    paths:
      - '**/*.sql'

jobs:
  fix-sql:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run SQLFluff Fix via Docker (Snowflake Dialect)
        run: |
          docker run --rm -v ${{ github.workspace }}:/code sqlfluff/sqlfluff fix /code --dialect snowflake
